.cotainer{
    display: flex;
    height: 40vh;
    justify-content: space-between;
    width: 70vw;
    text-align: left;
    border-bottom: 1px solid grey;
    align-items: center;
}

.cotainer:hover{
    cursor: pointer;
    .info{
        color: rgb(168, 110, 3);
    }
    .image{
        box-shadow: 10px 10px 83px -15px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 83px -15px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 83px -15px rgba(0,0,0,0.75);
    }
}

.image{
    height: 200px;
    width: 300px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    border-radius: 15px;
}

.image > img{
    height: 200px;
    width: 300px;
    border-radius: 15px;
}

.info{
    color: black;
    transition: all 0.5s ease-in-out;
}

