.cardContainer{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    transition: all .5s ease-in-out;
    border-radius: 15px;
}

.cardContainer:hover{
    cursor: pointer;
    box-shadow: 10px 10px 83px -15px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 83px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 83px -15px rgba(0,0,0,0.75);
}

.cardContainer > img{
    width: 100%;
    height: 30vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.cardContainer > h6{
    margin-top: -5px;
}