.ShimmerContainer{
    display: flex;
    margin: 10px;
    flex-direction: column;
}

.boxContainer{
    display: flex;
    flex-wrap: wrap;
}

.ShimmerCard{
    background-color: #f0f0f0;
    height: 300px;
    margin: 10px;
    width: 180px;
}

.buttonsContainer{
    display: flex;
    justify-content: flex-start;
}

.button{
    border-radius: 15px;
    height: 25px;
    width: 100px;
    border: none;
    margin: 10px;
    background-color: #f0f0f0;  
}